html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#")
                img(src="/images/avatar.png", width="30", height="30",alt="")
        
            #navbarNav.collapse.navbar-collapse 
                .navbar-nav
                    a.nav-item.nav-link(href="#") Home
                    a.nav-item.nav-link(href="/users") User list
  
        .container
            block content
